<footer>
  <div class="foot">
    <p style="text-align:center">
      <a href="https://www.facebook.com/davide.picatto" target="_blank"><i class="fab fa-facebook-f"></i></a> 
      <a href="https://twitter.com/DavidePicatto" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/davidepicatto/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="mailto:davidepicatto@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
      <a href="https://t.me/davidepicatto" target="_blank"><i class="fab fa-telegram-plane"></i></a>
      <a href="/feed.xml" target="_blank"><i class="fas fa-rss"></i></a>
    </p>
    <p style="text-align:center">
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/it/deed.it" target="_blank"><i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-nc-eu"></i> <i class="fab fa-creative-commons-sa"></i> 2020</a> <a href="/chisono">Davide Picatto</a></p>
    <p style="text-align:center"><a href="/sitemap.xml" target="_blank">sitemap</a> | <a href="/feed.xml" target="_blank">rss</a></p>
    <p class="info">Questo sito fa uso di cookie tecnici per misurare il traffico degli utenti sulle sue pagine con l'obbiettivo di migliorare il servizio.</p>
  </div>
</footer>
</body>
</html>
