<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/mblode/marx/master/css/marx.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.JPG">
  <link rel="alternate" type="application/atom+xml" title="Davide Picatto" href="/feed.xml">
  {% if page.featured-imgage %}
      <meta property="og:image" content="{{ site.url }}/{{ page.featured-imgage }}" />
  {% endif %}
  <meta property="og:description" content="{{ page.description }}" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161827378-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161827378-1');
  </script>

  <meta name="msvalidate.01" content="9B58B84669E9D102C11B7CAFF8ACE084" />
  {% seo %}

  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}

</head>
