/* Fonts
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
*/

/* Variables */
$HighlightColor: #800000;
$underlineHeight: 5%;
$fontSmall: 1rem;
$fontBig: 1.3rem;


* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem auto;
  max-width: 90%;
  font-family: 'Source Serif Pro', serif;
  line-height: 140%;
  font-size: $fontSmall;
}

nav, h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  margin-bottom: 2rem;
  text-align: center;
}

nav a {
  margin: 0 0.5rem;
  display: inline-block;
}

li {
  list-style-type: none;
}

p {
  padding-bottom: 1rem;
}

p, a {
  color: #333;
}

a, h1, {
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
}

a {
  &:hover {
  text-decoration: none;
  color: $HighlightColor;
  }
}

#content p a {
  position: relative;
  text-decoration: none;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  padding: 0 1px;
  transition: color ease 0.3s;

  &::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: $underlineHeight;
  left: 0;
  bottom: 0;
  background-color: $HighlightColor;
  transition: all ease 0.3s;
  }
                                            
  &:hover {
  text-decoration: none;
  color: white;

    &::after {
    height: 100%;
    }
  }
}

.title {
  display: block;
  text-align: center;
  color: $HighlightColor;
}

hr.title {
  border-top: 1px solid $HighlightColor;
  margin: 0.5rem 0;
}

div .article {
  border-bottom: 0px solid $HighlightColor;
}

h1, div .article h2 {
  margin: 0;
  padding-top: 2rem;
}

.intro {
  margin-top: 1em;
}

.lettura {
  text-align: justify;
}

.paypal {
  text-align: center;
  margin: 0 10%;
  font-size: 0.9rem;
  font-family: 'Source Code Pro', monospace;
}

.paypal a:first-letter {
  text-transform: uppercase;
}

.info {
  font-size: 0.8rem;
  color: grey;
  padding: 0;
  margin-bottom: 1rem;
}

.racconti {
  margin-top: 2rem;
}

.racconti h2, p {
  margin: 0;
}

.racconti p {
  margin-top: 0.5rem;
}

.racconti li a {
  font-weight: normal;
  font-variant: normal;
}

.pagination {
  text-align: center;
}

.pagination a, .pagination span {
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  margin-left: -2px;
  margin-right: -2px;
  display: inline-block;
}

footer {
  margin-top: 5rem;
  border-top: 1px solid $HighlightColor;
}

footer p {
  text-align: justify;
}

footer .info {
  text-align: center;
}

.foot {
  margin: 1rem auto 0;
}

#cookie-notice {
  padding: 0.5rem 1rem;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: rgba(255,255,255,0.8);
}

#cookie-notice a {
  display: inline-block;
  margin-left: 1rem;
}

#cookie-notice span {
  display: block;
  padding-top: 3px;
  margin-bottom: 1 rem;
}

#cookie-notice a {
  position: relative;
  bottom: 4px;
}

@media only screen and (min-width: 600px) {

  body {
    max-width: 80%;
    margin: 2rem auto;
    font-size: $fontBig;
  } 

  nav {
    text-align: left;
  }

  nav a {
    margin-left: 0;
    margin-right: 1rem;
  }

  .title {
    float: right;
    display: inline;
    text-align: left;
  }

}

@media only screen and (min-width: 1000px) {
  body {
    max-width: 55%;
  } 
}
