* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem auto;
  max-width: 90%;
  font-family: 'Sans-Serif';
  font-size: 1rem;
  line-height: 1.618;
}

nav {
  font-family: monospace;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
  outline: none;
}

li {
  list-style-type: none;
}

div .article {
  padding-bottom: 2rem;
  border-bottom: 1px solid orange;
}
div .article h2 {
  padding-top: 2rem;
}

#content {
  font-size: 1.6rem;
}

p {
}

p, a {
  color: #333;
}

a:hover {
    color: orange;
    text-decoration: none;
  }

.racconti {
  margin-top: 2rem;
}

.racconti h3, p {
  margin: 0;
}

.pagination a, .pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-top: 1rem;
  margin-left: -2px;
  margin-right: -2px;
  display: inline-block;
}

.pagination a {    
  font-size: 1rem;
  &:hover {
    background-color: orange;
    color: #333;
  }
}

.pagination {
  text-align: center;
}

footer {
  margin-top: 5rem;
  border-top: 1px solid #d5d5d5;
  font-size: 1rem;
}

footer p {
  text-align: justify;
}

.foot {
  margin: 1rem auto 0;
}

@media only screen and (min-width: 800px) {

  body {
    max-width: 60%;
    margin: 2rem auto;
  } 

}
