$HighlightColor: #800000;
$underlineHeight: 5%;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem auto;
  max-width: 90%;
  font-family: 'Serif';
  font-size: 1rem;
  line-height: 1.618;
}

nav, h1, h2, h3 {
  font-family: Sans-Serif;
}

nav {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

nav a {
  margin-right: 1rem;
}

p {
  padding-bottom: 1rem;
}

p, a {
  color: #333;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;

  &:hover {
  text-decoration: none;
  color: $HighlightColor;
  }
}

#content p a {
  position: relative;
  text-decoration: none;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  padding: 0 1px;
  transition: color ease 0.3s;

  &::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: $underlineHeight;
  left: 0;
  bottom: 0;
  background-color: $HighlightColor;
  transition: all ease 0.3s;
  }
                                            
  &:hover {
  text-decoration: none;
  color: white;

    &::after {
    height: 100%;
    }
  }
}

#title {
  float: right;
  color: $HighlightColor;
}

li {
  list-style-type: none;
}

div .article {
  padding-bottom: 2rem;
  border-bottom: 1px solid $HighlightColor;
}

div .article h2 {
  margin: 0;
  padding-top: 2rem;
}

#content {
  font-size: 1.6rem;
}

.info {
  font-size: 1rem;
  color: grey;
  padding-bottom: 1rem;
}

.racconti {
  margin-top: 2rem;
}

.racconti h3, p {
  margin: 0;
}

.pagination a, .pagination span {
  padding: 7px 18px;
  margin-top: 1rem;
  margin-left: -2px;
  margin-right: -2px;
  display: inline-block;
}

.pagination {
  text-align: center;
}

footer {
  margin-top: 5rem;
  border-top: 1px solid #d5d5d5;
  font-size: 1rem;
}

footer p {
  text-align: justify;
}

.foot {
  margin: 1rem auto 0;
}

@media only screen and (min-width: 800px) {

  body {
    max-width: 60%;
    margin: 2rem auto;
  } 

}
