---
layout: default
lang: it_IT
---
<h1>{{ page.title }}</h1>
<p class="info">{{ page.date | date: "%d-%m-%Y" }} | 
{% if page.category "notizie" %}
<a href="{{ site.baseurl }}/">{{ page.category }}</a></p>
{% else %}
<a href="{{ site.baseurl }}/{{page.category}}/">{{ page.category }}</a>
{% endif %}
</p>

{{ content }}

<div class="pagination">
    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {{ page.previous.title}}</a>
    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"> {{ page.next.title}} &raquo;</a>
</div>
